/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1em;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
button{
  padding: 2rem 3rem;
}
img{
  display: block;
  margin: 0 auto;
  height: 25rem;
}

.colors{
  margin: 3rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* micro-phone */
@media all and (max-width: 290px) {
}
/* phablet */
@media all and (max-width: 450px) {
}
/* tablet */
@media all and (min-width: 680px) {
}
/* monitor */
@media all and (min-width: 1024px) {
}
/* monitor massive*/
@media all and (min-width: 1920px) {
}